In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

import plotly.express as px
import plotly.graph_objects as go
from datetime import datetime
import numpy as np
import missingno as msno
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")

sns.set(rc={'figure.figsize':(15,8)})

path_to_catalog=r'C:\Users\kgrzebien\Desktop\python_tasks\kupony\fast_kpi\\'

In [93]:
def func_name_workers_filia(list_of_workers,
                            name_of_file_with_workers):
    
    df=pd.read_excel(name_of_file_with_workers)
    df=df.rename(columns={'PELNANAZWA':'pracownik_nazwisko',
                         'NUMER':'KOD_OPER'})
    df['pracownik_nazwisko']=df['pracownik_nazwisko'].apply(lambda x: x.split(' ')[0][0]+'. '+x.split(' ')[1] if len(x.split(' '))>1 else x)
    if type(list_of_workers[0])==type(0):
        df=df.loc[df['pracownik_nazwisko'].isin(list_of_workers)]
    else:
        df=df.loc[df['KOD_OPER'].isin(list_of_workers)]
    return df.reset_index().drop('index', axis=1)

def func_kod_magaz_oper(list_of_workers):
    df=pd.read_csv('../../słowniki/ZBMAGAZ.csv',encoding='Cp1250',
              sep="|")
    df=df.loc[df['IS_DELETED']=='N'].loc[df['KOD_MAGAZ'].isin(list_of_workers)].loc[df['KOD_MAGAZ']!=0][['KOD_MAGAZ','NAZW_IMIE','KOD_OPER']]
    df=df.sort_values(by='KOD_MAGAZ').reset_index().drop('index', axis=1)
    df=df.rename(columns={'NAZW_IMIE':'pracownik_nazwisko'})
    df['pracownik_nazwisko']=df['pracownik_nazwisko'].apply(lambda x: x.split(' ')[0][0]+'. '+x.split(' ')[1] if len(x.split(' '))>1 else x)
    return df

In [62]:
def func_read_data(path, jaki_dokument):
    df=pd.read_csv('../magazynierzy/'+path+'.csv',
              encoding='Cp1250',
              sep="|")
    df['jaki_doument']=jaki_dokument
    return df

def func_add_time(df):
    
    # df['date_start']=df['Z_DNIA']+' '+df['CZAS_POCZ_1']
    # df['date_start']=pd.to_datetime(df['date_start'], format='%y/%m/%d %H:%M:%S')
    # df['date_start']=df['date_start'].dt.floor('Min')
    # df['date_finish']=df['Z_DNIA']+' '+df['CZAS_KON_1']
    # df['date_finish']=pd.to_datetime(df['date_finish'], format='%y/%m/%d %H:%M:%S')
    # df['date_finish']=df['date_finish'].dt.floor('Min')
    df['Z_DNIA']=pd.to_datetime(df['Z_DNIA'], format='%y/%m/%d')
    
    df['year']=df['Z_DNIA'].apply(lambda x: x.year)
    df['month']=df['Z_DNIA'].apply(lambda x: x.month)
    df['day_of_year']=df['Z_DNIA'].apply(lambda x: x.timetuple().tm_yday)
    df['week']=df['Z_DNIA'].apply(lambda x: x.isocalendar()[1])
    df['week_day']=df['Z_DNIA'].apply(lambda x: x.isocalendar()[2])
    df['year_month']=df['year'].astype(str)+'-'+df['month'].astype(str)+'-'+'01'
    df['year_month']=df['year_month'].apply(lambda x: x[:5]+'0'+x[5:] if len(x)==9 else x)
    df['year_month']=pd.to_datetime(df['year_month'], format='%Y-%m-%d')
    df['year_week']=df['year'].astype(str)+'--'+df['week'].astype(str)
    df['year_week']=df['year_week'].apply(lambda x: x[:6]+'0'+x[6:] if len(x)==7 else x)
    df['year_day']=df['year'].astype(str)+'--'+df['day_of_year'].astype(str)
    df['year_day']=df['year_day'].apply(lambda x: x[:6]+'0'+x[6:] if len(x)<9 else x)
    return df

In [92]:
%%time
df_lkw=func_read_data('LKW', 'LKW')
df_f60lkw=func_read_data('F60LKW', 'F60LKW')
df_f60lkr=func_read_data('F60LKR', 'F60LKR')
#df_f60lkp=func_read_data('dokumenty_F60LKP', 'F60LKP')

df_lkw=func_add_time(df_lkw)
df_f60lkw=func_add_time(df_f60lkw)
df_f60lkr=func_add_time(df_f60lkr)

In [86]:
df_magaz_oper_lkw=func_kod_magaz_oper(df_lkw['KOD_MAGAZ_2'].unique())
df_magaz_oper_f60lkw=func_kod_magaz_oper(df_f60lkw['KOD_MAGAZ_2'].unique())
df_magaz_oper_f60lkr=func_kod_magaz_oper(df_f60lkr['KOD_MAGAZ_2'].unique())

In [87]:
df_magaz_oper_lkw

    KOD_MAGAZ pracownik_nazwisko  KOD_OPER
0           3          A. BARCIK       302
1          10           M. SETLA       191
2          18          S. GAWRON       635
3          27           D. KARCZ       384
4          28        S. KASTELIK       597
..        ...                ...       ...
62        787           B. ŻYDEK       906
63        798         E. GIZICKA       873
64        799           F. POLAK       872
65        800          T. BIEGUN      2043
66        803        P. STOKŁOSA      2054

[67 rows x 3 columns]

In [172]:

def func_pivot_table(df, year1, year2, month, kod_dokumentu):
    df_table_pivot=pd.DataFrame(columns=['MAGAZYNIER_NAZWISKO','month',
                                         'LICZBA_POZYCJI_'+str(year1),'LICZBA_POZYCJI_'+str(year2), 'LICZBA_POZYCJI_DYNAMIKA',
                                        'kod_dokumentu'])
    
    df=df.loc[df['KOD_MAGAZ_2']!=0]
    df=df.groupby(['KOD_MAGAZ_2','year','month']).agg({'NR_DOKUM':'count'}).reset_index()
    df=df.merge(func_kod_magaz_oper(df_lkw['KOD_MAGAZ_2'].unique()),
              how='left',
              left_on='KOD_MAGAZ_2',
             right_on='KOD_MAGAZ')       
    
    for magazynier in tqdm(df['pracownik_nazwisko'].unique()):
        for mc in month:
            try:
                val1=df.loc[df['year']==year1].loc[df['month']==mc].loc[df['pracownik_nazwisko']==magazynier]['NR_DOKUM'].values[0]
            except:
                val1=0
            try:
                val2=df.loc[df['year']==year2].loc[df['month']==mc].loc[df['pracownik_nazwisko']==magazynier]['NR_DOKUM'].values[0]
            except:
                val2=0
            try:
                val_dyn=round((val2-val1)/val1, 2)
            except:
                val_dyn=0

            df_table_pivot=df_table_pivot.append({'MAGAZYNIER_NAZWISKO':magazynier,
                                                   'month':mc,
                                                    'LICZBA_POZYCJI_'+str(year1):val1,
                                                    'LICZBA_POZYCJI_'+str(year2):val2, 
                                                    'LICZBA_POZYCJI_DYNAMIKA':val_dyn,
                                                 'kod_dokumentu':kod_dokumentu},
                                                ignore_index=True)
                
                
                
        df_table_pivot=df_table_pivot.fillna(0)
        df_table_pivot.replace([np.inf, -np.inf], 0, inplace=True)
        
        val1=df_table_pivot.loc[df_table_pivot['MAGAZYNIER_NAZWISKO']==magazynier]['LICZBA_POZYCJI_'+str(year1)].sum()
        val2=df_table_pivot.loc[df_table_pivot['MAGAZYNIER_NAZWISKO']==magazynier]['LICZBA_POZYCJI_'+str(year2)].sum()
        try:
            val_dyn=(val2-val1)/val1#*100
            val_dyn=round(val_dyn, 2)
        except:
            val_dyn=0
            
        df_table_pivot=df_table_pivot.append({'MAGAZYNIER_NAZWISKO':magazynier,
                                               'month':'suma',
                                                'LICZBA_POZYCJI_'+str(year1):val1,
                                                'LICZBA_POZYCJI_'+str(year2):val2, 
                                                'LICZBA_POZYCJI_DYNAMIKA':val_dyn,
                                             'kod_dokumentu':kod_dokumentu},
                                                ignore_index=True)   
        
        
    df_table_pivot=df_table_pivot.fillna(0)
    df_table_pivot.replace([np.inf, -np.inf], 0, inplace=True)
    return df_table_pivot


def func_add_pivot_tables(arr_df, col_group, col_change_name):
    for i in range(len(arr_df)):
        for col_name in col_change_name:
            arr_df[i]=arr_df[i].rename(columns={col_name:col_name+'_'+arr_df[i]['kod_dokumentu'].values[0]})
        arr_df[i]=arr_df[i].drop('kod_dokumentu', axis=1)
            
    df_to_return=arr_df[0]
    
    for i in range(len(arr_df)-1):
        df_to_return=df_to_return.merge(arr_df[i+1], how='outer', on=col_group)
        
    df_to_return=df_to_return.fillna(0)
    return df_to_return

def func_add_col_with_sum(df, col_to_sum):

In [157]:
df_lkw_pivot=func_pivot_table(df_lkw, 2021, 2022, [1,2,3,4,5,6], 'LKW')
df_lkw_pivot=df_lkw_pivot.loc[df_lkw_pivot['MAGAZYNIER_NAZWISKO'].isin(df_lkw_pivot.loc[df_lkw_pivot['month']=='suma'].\
                                                                       loc[(df_lkw_pivot['LICZBA_POZYCJI_2021']!=0) |\
                                                                           (df_lkw_pivot['LICZBA_POZYCJI_2022']!=0)]['MAGAZYNIER_NAZWISKO'].unique())]

100%|██████████████████████████████████████████████████████████████████████████████████| 67/67 [00:09<00:00,  6.89it/s]

In [146]:
df_f60lkw_pivot=func_pivot_table(df_f60lkw, 2021, 2022, [1,2,3,4,5,6], 'F60LKW')
df_f60lkw_pivot=df_f60lkw_pivot.loc[df_f60lkw_pivot['MAGAZYNIER_NAZWISKO'].isin(df_f60lkw_pivot.loc[df_f60lkw_pivot['month']=='suma'].\
                                                                                                   loc[(df_f60lkw_pivot['LICZBA_POZYCJI_2021']!=0) |\
                                                                                                       (df_f60lkw_pivot['LICZBA_POZYCJI_2022']!=0)]['MAGAZYNIER_NAZWISKO'].unique())]

100%|██████████████████████████████████████████████████████████████████████████████████| 15/15 [00:02<00:00,  6.93it/s]

In [148]:
df_f60lkr_pivot=func_pivot_table(df_f60lkr, 2021, 2022, [1,2,3,4,5,6], 'F60LKR')
df_f60lkr_pivot=df_f60lkr_pivot.loc[df_f60lkr_pivot['MAGAZYNIER_NAZWISKO'].isin(df_f60lkr_pivot.loc[df_f60lkr_pivot['month']=='suma'].\
                                                                                                   loc[(df_f60lkr_pivot['LICZBA_POZYCJI_2021']!=0) |\
                                                                                                       (df_f60lkr_pivot['LICZBA_POZYCJI_2022']!=0)]['MAGAZYNIER_NAZWISKO'].unique())]

100%|██████████████████████████████████████████████████████████████████████████████████| 21/21 [00:03<00:00,  6.82it/s]

In [174]:
df_pivot=func_add_pivot_tables([df_lkw_pivot, df_f60lkw_pivot, df_f60lkr_pivot],
                              ['MAGAZYNIER_NAZWISKO','month'],
                              ['LICZBA_POZYCJI_2021','LICZBA_POZYCJI_2022','LICZBA_POZYCJI_DYNAMIKA'])

In [176]:
df_pivot.head(50)

,MAGAZYNIER_NAZWISKO,month,LICZBA_POZYCJI_2021_LKW,LICZBA_POZYCJI_2022_LKW,LICZBA_POZYCJI_DYNAMIKA_LKW,LICZBA_POZYCJI_2021_F60LKW,LICZBA_POZYCJI_2022_F60LKW,LICZBA_POZYCJI_DYNAMIKA_F60LKW,LICZBA_POZYCJI_2021_F60LKR,LICZBA_POZYCJI_2022_F60LKR,LICZBA_POZYCJI_DYNAMIKA_F60LKR
0,P. KUMOREK,1,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
1,P. KUMOREK,2,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
2,P. KUMOREK,3,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
3,P. KUMOREK,4,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
4,P. KUMOREK,5,0,4,0.00,0.0,0.0,0.0,0.0,0.0,0.00
5,P. KUMOREK,6,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
6,P. KUMOREK,suma,0,4,0.00,0.0,0.0,0.0,0.0,0.0,0.00
7,T. MAJDAK,1,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
8,T. MAJDAK,2,1,1,0.00,0.0,0.0,0.0,0.0,0.0,0.00
9,T. MAJDAK,3,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
10,T. MAJDAK,4,1,0,-1.00,0.0,0.0,0.0,0.0,0.0,0.00
11,T. MAJDAK,5,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
12,T. MAJDAK,6,5,0,-1.00,0.0,0.0,0.0,0.0,0.0,0.00
13,T. MAJDAK,suma,7,1,-0.86,0.0,0.0,0.0,0.0,0.0,0.00
14,A. RYPIEŃ,1,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
15,A. RYPIEŃ,2,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
16,A. RYPIEŃ,3,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
17,A. RYPIEŃ,4,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
18,A. RYPIEŃ,5,1,0,-1.00,0.0,0.0,0.0,0.0,0.0,0.00
19,A. RYPIEŃ,6,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
20,A. RYPIEŃ,suma,1,0,-1.00,0.0,0.0,0.0,0.0,0.0,0.00
21,G. ZAWADA,1,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
22,G. ZAWADA,2,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
23,G. ZAWADA,3,0,11,0.00,0.0,0.0,0.0,0.0,0.0,0.00
24,G. ZAWADA,4,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
25,G. ZAWADA,5,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
26,G. ZAWADA,6,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
27,G. ZAWADA,suma,0,11,0.00,0.0,0.0,0.0,0.0,0.0,0.00
28,M. MIESZCZAK,1,28,10,-0.64,1.0,1.0,0.0,3558.0,554.0,-0.84
29,M. MIESZCZAK,2,21,5,-0.76,0.0,35.0,0.0,954.0,611.0,-0.36
30,M. MIESZCZAK,3,9,94,9.44,0.0,7.0,0.0,1126.0,1174.0,0.04
31,M. MIESZCZAK,4,2,32,15.00,0.0,1.0,0.0,475.0,687.0,0.45
32,M. MIESZCZAK,5,17,7,-0.59,0.0,0.0,0.0,427.0,586.0,0.37
33,M. MIESZCZAK,6,54,3,-0.94,1.0,5.0,4.0,778.0,584.0,-0.25
34,M. MIESZCZAK,suma,131,151,0.15,2.0,49.0,23.5,7318.0,4196.0,-0.43
35,P. ZAWADA,1,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
36,P. ZAWADA,2,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
37,P. ZAWADA,3,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
38,P. ZAWADA,4,0,2,0.00,0.0,0.0,0.0,0.0,0.0,0.00
39,P. ZAWADA,5,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
40,P. ZAWADA,6,0,2,0.00,0.0,0.0,0.0,0.0,0.0,0.00
41,P. ZAWADA,suma,0,4,0.00,0.0,0.0,0.0,0.0,0.0,0.00
42,N. KOSIEC,1,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
43,N. KOSIEC,2,5,0,-1.00,0.0,0.0,0.0,0.0,0.0,0.00
44,N. KOSIEC,3,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
45,N. KOSIEC,4,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
46,N. KOSIEC,5,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
47,N. KOSIEC,6,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00
48,N. KOSIEC,suma,5,0,-1.00,0.0,0.0,0.0,0.0,0.0,0.00
49,R. RYPIEŃ,1,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00

In [82]:
_=df_lkw.groupby(['KOD_MAGAZ_2','year','month']).agg({'NR_DOKUM':'count'}).sort_values(by='NR_DOKUM', ascending=False).reset_index()
_=_.merge(func_kod_magaz_oper(df_lkw['KOD_MAGAZ_2'].unique()),
          how='left',
          left_on='KOD_MAGAZ_2',
         right_on='KOD_MAGAZ')
_.pivot(columns='year',
       index=['KOD_MAGAZ_2','NAZW_IMIE','month'],
       values='NR_DOKUM').tail(50)

year                                 2020    2021   2022
KOD_MAGAZ_2 NAZW_IMIE       month
681         ADRIAN KASTELIK 6         NaN     NaN  115.0
                            7         NaN     NaN  137.0
682         PIOTR PUCHACZ   2         NaN     NaN   51.0
                            3         NaN     NaN  970.0
                            4         NaN     NaN  682.0
                            5         NaN     NaN  856.0
                            6         NaN     NaN  802.0
                            7         NaN     NaN  490.0
688         ŻUKOWSKI MICHAŁ 1        84.0     NaN  350.0
                            2       121.0     NaN  120.0
                            3       115.0    72.0   40.0
                            4       146.0   120.0  126.0
                            5       174.0    43.0   33.0
                            6       384.0    84.0   72.0
                            7       128.0   243.0   27.0
                            8       134.0   180.0    NaN
                            9        25.0   238.0    NaN
                            10        NaN   449.0    NaN
                            11        NaN   316.0    NaN
                            12        NaN   405.0    NaN
694         MATEUSZ SZAPERT 3         5.0     NaN    NaN
696         WOJTAS PAWEŁ    1         NaN   634.0    NaN
                            2         NaN   690.0    NaN
                            3         NaN  1647.0    NaN
                            4         NaN   938.0    NaN
                            5         NaN   982.0    NaN
                            6         NaN   929.0    NaN
                            7         NaN   363.0    NaN
                            8         NaN    47.0    NaN
                            9         NaN   672.0    NaN
                            10        NaN   488.0    NaN
                            11      571.0     NaN    NaN
                            12     1041.0     NaN    NaN
746         RAFAŁ DRÓŻDŻ    1         NaN   281.0  160.0
                            2         NaN   179.0    7.0
                            3         NaN   286.0   18.0
                            4         NaN   336.0   65.0
                            5         NaN   188.0    NaN
                            6         NaN    48.0    NaN
                            7         NaN    96.0    NaN
                            8         NaN    37.0    NaN
                            9       276.0   106.0    NaN
                            10      828.0   120.0    NaN
                            11      611.0   140.0    NaN
                            12      579.0    72.0    NaN
787         BOGUSŁAWA ŻYDEK 3         NaN     NaN    1.0
798         EWELINA GIZICKA 1         NaN     NaN    5.0
799         FILIP POLAK     1         NaN     NaN    6.0
800         TOMASZ BIEGUN   4         NaN     NaN    1.0
803         PIOTR STOKŁOSA  4         NaN     NaN    4.0

In [70]:
_=df_f60lkw.groupby(['KOD_MAGAZ_2','year','month']).agg({'NR_DOKUM':'count'}).sort_values(by='NR_DOKUM', ascending=False).reset_index()
_=_.merge(func_kod_magaz_oper(df_f60lkw['KOD_MAGAZ_2'].unique()),
          how='left',
          left_on='KOD_MAGAZ_2',
         right_on='KOD_MAGAZ')
_.pivot(columns='year',
       index=['KOD_MAGAZ_2','NAZW_IMIE','month'],
       values='NR_DOKUM')

year                                  2022
KOD_MAGAZ_2 NAZW_IMIE          month
0           NaN                7      9150
499         DARIUSZ CIEŚLAWSKI 7        16
602         MARCIN MIESZCZAK   7        15
642         MIKOCIAK PAWEŁ     7         1
655         KAROL OŻGA         7        62
665         GRZEGORZ HOWANIEC  7       125
688         ŻUKOWSKI MICHAŁ    7        19

In [43]:
_=df_f60lkr.groupby('KOD_MAGAZ_2').agg({'NR_DOKUM':'count'}).sort_values(by='NR_DOKUM', ascending=False).reset_index()
_=_.merge(func_kod_magaz_oper(df_f60lkr['KOD_MAGAZ_2'].unique()),
          how='left',
          left_on='KOD_MAGAZ_2',
         right_on='KOD_MAGAZ')
_

    KOD_MAGAZ_2  NR_DOKUM  KOD_MAGAZ                NAZW_IMIE  KOD_OPER
0             0      3251        NaN                      NaN       NaN
1           688      1389      688.0          ŻUKOWSKI MICHAŁ    1126.0
2           678      1043      678.0        MARCIN PROCHOWNIK       0.0
3           602       920      602.0         MARCIN MIESZCZAK     196.0
4           681       920      681.0          ADRIAN KASTELIK    2042.0
5           655       824      655.0               KAROL OŻGA    1237.0
6           499       760      499.0       DARIUSZ CIEŚLAWSKI     896.0
7           665       713      665.0        GRZEGORZ HOWANIEC    1427.0
8           682       482      682.0            PIOTR PUCHACZ    2053.0
9           652       100      652.0         KAROL GRZYBOWSKI    1852.0
10          621        97      621.0             LACH IZABELA     438.0
11          679        85      679.0             ANNA LABURDA      84.0
12          616        70      616.0             GÓRNY MONIKA     954.0
13          651        57      651.0           ZUZANNA LEJAWA    1699.0
14          668        54      668.0            SYLWIA KAPAŁA    1688.0
15          663        39      663.0             MATEUSZ PTAK    2076.0
16          203        36      203.0        EWELINA MAJCHEREK     139.0
17          782        33      782.0          PATRYCJA WIDUCH    1938.0
18          627        15      627.0           NISZWIC SYLWIA     956.0
19          792        15      792.0         KATARZYNA RYPIEŃ     345.0
20          639         8      639.0         ZEMAN MAŁGORZATA     521.0
21          607         8      607.0           SKRZYP BARBARA     360.0
22          611         4      611.0             DURAJ BOŻENA     152.0
23          618         2      618.0  KOSIEC-HAZUKA AGNIESZKA    1841.0
24          635         1      635.0              SAPETA ANNA     349.0
25          674         1      674.0      ADAMCZYK MAŁGORZATA     248.0

In [73]:
np.sort(df_f60lkw['KOD_KONTR'].unique())

array(['     1', '     6', '     9', '   100', '   111', '   114',
       '   154', '   161', '   168', '   302', '   435', '   577',
       '   802', '   822', '   885', '   935', '   946', '   982',
       '   985', '  1099', '  1115', '  1138', '  1157', '  1205',
       '  1217', '  1282', '  1329', '  1362', '  1397', '  1398',
       '  1439', '  1477', '  1497', '  1543', '  1546', '  1654',
       '  1700', '  1814', '  1843', '  1895', '  1906', '  1967',
       '  1984', '  2006', '  2023', '  2025', '  2032', '  2050',
       '  2059', '  2060', '  2061', '  2065', '  2099', '  2137',
       '  2151', '  2156', '  2252', '  2267', '  2268', '  2272',
       '  2289', '  2340', '  2368', '  2418', '  2500', '  2523',
       '  2575', '  2580', '  2584', '  2623', '  2629', '  2635',
       '  2636', '  2639', '  2652', '  2680', '  2718', '  2727',
       '  2734', '  2774', '  2785', '  2797', '  2806', '  2823',
       '  2825', '  2835', '  2884', '  2895', '  2927', '  2948',
       '  2973', '  2998', '  3002', '  3004', '  3005', '  3024',
       '  3029', '  3042', '  3051', '  3052', '  3057', '  3063',
       '  3074', '  3077', '  3091', '  3112', '  3117', '  3119',
       '  3127', '  3202', '  3218', '  3239', '  3260', '  3346',
       '  3376', '  3382', '  3393', '  3425', '  3426', '  3463',
       '  3465', '  3473', '  3500', '  3503', '  3505', '  3509',
       '  3525', '  3526', '  3544', '  3552', '  3585', '  3603',
       '  3606', '  3612', '  3628', '  3639', '  3663', '  3666',
       '  3671', '  3675', '  3676', '  3677', '  3748', '  3751',
       '  3755', '  3768', '  3769', '  3794', '  3799', '  3811',
       '  3867', '  3965', '  3987', '  3995', '  4009', '  4015',
       '  4053', '  4062', '  4064', '  4074', '  4076', '  4083',
       '  4084', '  4087', '  4106', '  4119', '  4128', '  4149',
       '  4152', '  4164', '  4172', '  4189', '  4205', '  4229',
       '  4235', '  4247', '  4278', '  4300', '  4316', '  4328',
       '  4333', '  4357', '  4361', '  4370', '  4410', '  4421',
       '  4456', '  4465', '  4469', '  4471', '  4472', '  4489',
       '  4497', '  4506', '  4511', '  4520', '  4528', '  4576',
       '  4578', '  4589', '  4616', '  4624', '  4638', '  4663',
       '  4667', '  4717', '  4745', '  4758', '  4777', '  4780',
       '  4812', '  4828', '  4834', '  4851', '  4894', '  4932',
       '  4955', '  4961', '  4988', '  5006', '  5009', '  5012',
       '  5019', '  5038', '  5052', '  5071', '  5074', '  5080',
       '  5095', '  5098', '  5112', '  5127', '  5132', '  5141',
       '  5145', '  5169', '  5196', '  5205', '  5212', '  5256',
       '  5265', '  5266', '  5270', '  5280', '  5312', '  5323',
       '  5342', '  5350', '  5358', '  5380', '  5382', '  5427',
       '  5431', '  5527', '  5541', '  5602', '  5714', '  5742',
       '  5766', '  5835', '  5872', '  5900', '  5901', '  5903',
       '  5915', '  5977', '  5978', '  6013', '  6022', '  6026',
       '  6049', '  6089', '  6163', '  6165', '  6180', '  6237',
       '  6314', '  6341', '  6359', '  6388', '  6438', '  6460',
       '  6461', '  6468', '  6502', '  6551', '  6557', '  6648',
       '  6667', '  6696', '  6713', '  6765', '  6777', '  6784',
       '  6795', '  6825', '  6827', '  6919', '  6933', '  6978',
       '  7032', '  7050', '  7052', '  7056', '  7067', '  7073',
       '  7137', '  7208', '  7225', '  7242', '  7273', '  7297',
       '  7310', '  7371', '  7394', '  7466', '  7571', '  7573',
       '  7576', '  7578', '  7611', '  7640', '  7653', '  7692',
       '  7712', '  7757', '  7762', '  7778', '  7791', '  7833',
       '  7852', '  7864', '  7913', '  7966', '  7977', '  7983',
       '  8097', '  9574', ' 10005', ' 10011', ' 10514', ' 30009',
       ' 30020', ' 30190', ' 30223', ' 30240', ' 30282', ' 30287',
       ' 30288', ' 30309', ' 30354', ' 30360', ' 30372', ' 30373',
       ' 30378', ' 30413', ' 30439', ' 30442', ' 30502', ' 30582',
       ' 30593', ' 30633', ' 30635', ' 30707', ' 30714', ' 30751',
       ' 30818', ' 30839', ' 30846', '22XXXX', '29XXXX', '300000',
       '36XXXX', '39XXXX', '52XXXX', '56XXXX', '62XXXX', '90XXXX',
       'F10457', 'F10477', 'F10489', 'F10794', 'F10877', 'F11446',
       'F11465', 'F11759', 'F11867', 'F11870', 'F11871', 'F11872',
       'F13063', 'F15500', 'F15619', 'F15678', 'F16360', 'F18680',
       'F20495', 'F20496', 'F32712', 'F35193', 'F43064', 'F43407',
       'F44194', 'F44433', 'F44913', 'F45231', 'F47022', 'F47142',
       'F47561', 'F48013', 'F51086', 'F51590', 'F51593', 'F51864',
       'F53728', 'F55719', 'F59054', 'F60093', 'F60802', 'F61663',
       'F62927', 'F63038', 'F64375', 'F66728', 'F82487', 'F85319',
       'F86698', 'F87528', 'F93045', 'G00937', 'G01101', 'G01282',
       'G02504', 'G03182', 'G13251', 'G18834', 'G55573', 'G56963',
       'G58918', 'G61901', 'G63119', 'G63696', 'G64896', 'G67825',
       'G97887', 'H04188', 'H07191', 'H08743', 'H12385', 'H18170',
       'H21547', 'H24940', 'H25644', 'H27698', 'H44327', 'H51984',
       'H59694', 'H59741', 'I39337', 'I40587', 'I44251', 'I51359',
       'I57666', 'I80199', 'I83941', 'I89484', 'J28333', 'J29208',
       'J30980', 'J85468', 'J89319', 'J93002', 'K11225', 'K23925',
       'K25642', 'K46705', 'K71697', 'K72051', 'K98244', 'K98818',
       'K98874', 'L02609', 'L11145', 'L17002', 'L17918', 'L18233',
       'L20336', 'L25829', 'L26298', 'L26870', 'L39340', 'L44119',
       'L48311', 'L51905', 'L58553', 'L70533', 'L74008', 'L84107',
       'LI0000', 'M10634', 'O8XXXX', 'Q09124', 'Q11010', 'Q40080',
       'Q4XXXX', 'QJXXXX', 'QLXXXX', 'QPXXXX', 'QQXXXX', 'QSXXXX',
       'QTXXXX', 'QUXXXX', 'QWXXXX', 'QXXXXX', 'SCXXXX'], dtype=object)

In [75]:
df_f60lkw.loc[df_f60lkw['KOD_KONTR'].str.contains('IN')]

Empty DataFrame
Columns: [NR_DOKUM, KOD_KONTR, Z_DNIA, CZAS_POCZ_1, CZAS_KON_1, NR_PZWZ, DATA_PZWZ, STATUS, KOD_OPER, KOD_MAGAZ_1, WAGA, KOD_STAN, POMYLKI, ILOSC, KOD_MAGAZ_2, CZAS_POCZ_2, CZAS_KON_2, KOD_NAKL, jaki_doument, year, month, day_of_year, week, week_day, year_month, year_week, year_day]
Index: []